@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cream);
}

.card {
    width: 800px;
    height: 600px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    margin: 150px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 50px 70px -30px var(--dark-grayish-blue);
}

.order {
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.type {
    letter-spacing: 0.3em;
    font-size: 14px;
    color: var(--dark-grayish-blue);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.title {
    font-size: 3.3em;
    color: var(--very-dark-blue);
    font-family: 'Fraunces', serif;
    line-height: 1em;
    margin-bottom: 20px;
}

.description {
    font-size: 14px;
    color: var(--dark-grayish-blue);
    font-family: 'Montserrat', sans-serif; 
    line-height: 1.7em; 
    margin-bottom: 20px;
}

.price-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 3.3em;
    color: var(--dark-cyan);
    font-family: 'Fraunces', serif;
    line-height: 1em;
}

.price-container > p {
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
}

button {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--dark-cyan);
    color: #fff;
    margin-top: 50px;
    border: none;
    font-size: 1.3em;
    display: inline-block;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.attribution { font-size: 11px; text-align: center; font-family: 'Montserrat', sans-serif; }
.attribution a { color: hsl(228, 45%, 44%); font-family: 'Montserrat', sans-serif; }